.button {
  icons: #5B5B5B;
  rolloverIcons: #5B5B5B;
  border: #CCCCCC;
  borderRollover: #E4E4E4 ;
  borderDownState: #CCCCCC;
}
.buttonText {
  active: #3B3B3B;
  disabled: #999999;
  rollover: #3B3B3B;
}
.itemText {
  active: #3B3B3B;
  rollover: #84BAC1;
  downState: #84BAC1;
}
.background {
  face: #FFFFFF;
}
.scrollbar {
  face: #DEDEDE;
  border: #DEDEDE;
  arrows: #939393;
}