.tabs {
  text: #E3E3E3;
  rolloverText: #B2C846;
  selectedText: #B2C846;
  icons: #E3E3E3;
  rolloverIcons: #B2C846;
  disabledIcons: #818080;
}
.dropDownMenu {
  background: #3C3C3C;
  dividerLines: #4A4949;
  rolloverRow: #303030;
  selectedRow: #303030;
  text: #E3E3E3;
  rolloverText: #B2C846;
  selectedText: #B2C846;
  arrows: #E3E3E3;
  rolloverArrows: #B2C846;
  disabledArrows: #3A3A3A;
}